
.navi{

  background-color: lightblue;
  margin-top: 50px;
}

.main{

  background-color: dodgerblue;
  margin-top: 50px;
}

ul {

  list-style-type: none;
}

li{

  margin-top: 5px;
  text-align: center;
  background-color: yellow;
}
